@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
	"purple": purple,
	"brown": #804000
));

@import "bootstrap/scss/bootstrap";

.bg-card {
	background-color: #181b1e;
}

.piece-sets {
	&:not(:first-child) {
		padding-top: 0.75rem;
	}

	&:not(:last-child) {
		padding-bottom: 0.75rem;
		border-bottom: 1px solid black;
	}
}

.card {
	@media all and (min-width: 992px) {
		min-width: 600px;
	}
}

.navbar-codes {
	@media all and (min-width: 992px) {
		position: static;
		.dropdown-menu {
			left: 54.5%;
			width: 100%;
			margin-top: 0;
			max-width: 500px;
		}
	}

	.dropdown-item {
		&:hover, &:focus {
			color: var(--bs-dropdown-link-color);
			background-color: transparent;
		}
	}
}

.navbar-settings {
	.dropdown-item {
		&:hover, &:focus {
			color: var(--bs-dropdown-link-color);
			background-color: transparent;
		}
	}
}

.nav-link-dark {
	color: white !important;
	&.active {
		background-color: #22262b !important;
	}
}