.bg-card {
	background-color: #181b1e;
}

.piece-sets {
	&:not(:first-child) {
		padding-top: 0.75rem;
	}

	&:not(:last-child) {
		padding-bottom: 0.75rem;
		border-bottom: 1px solid black;
	}
}

.navbar-codes {
	@media all and (min-width: 992px) {
		position: static;
		.dropdown-menu {
			left: 54.5%;
			width: 100%;
			margin-top: 0;
			max-width: 400px;
		}
	}

	.dropdown-item {
		&:hover, &:focus {
			color: var(--bs-dropdown-link-color);
			background-color: transparent;
		}
	}
}

.navbar-settings {
	.dropdown-item {
		&:hover, &:focus {
			color: var(--bs-dropdown-link-color);
			background-color: transparent;
		}
	}
}
